*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #fbfbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container .wrapper {
  max-width: 1200px;
  margin-inline: auto;
  flex-grow: 1;
  background-color: #ffffff;
}

.container .wrapper .header {
  border-bottom: 2px solid #0969e2;
  padding: 20px 10px;
  background-color: #0969e266;
}
.container .wrapper .body {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.container .wrapper .body h1.title {
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
  margin-block: 30px;
  text-align: center;
}

.container .wrapper .body p.label {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.container .wrapper .body textarea {
  outline: none;
  border: 1px solid #5a5a5a;
  padding: 10px;
  resize: vertical;
  border-radius: 8px;
  margin-top: 20px;
  min-height: 200px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.container .wrapper .body textarea.error {
  border-color: red;
}

.container .wrapper .body .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.container .wrapper .body .btn-container .btn {
  background-color: #0969e2;
  padding: 0px 30px;
  border-radius: 24px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  height: 48px;
  cursor: pointer;
  border: 1px solid #0969e2;
}

.container .wrapper .body .btn-container .btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

p.error {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: red;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.results .res-item {
  width: 250px;
  height: 48px;
  border-radius: 4px;
  color: #ffffff;
  background-color: red;
  text-align: center;
  line-height: 48px;
}

.results .res-item .Google {
  background-color: red;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5f5e5e;
  padding: 20px 40px;
  box-shadow: 0.5px 5px 5px #5a5a5a;
  min-width: 350px;
}

.dialog h2 {
  font-size: 24px;
  color: #ffffff;
}

.dialog input {
  width: 100%;
  outline: none;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-block: 20px 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.dialog button {
  background-color: #0969e2;
  padding: 0px 30px;
  border-radius: 24px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  height: 48px;
  cursor: pointer;
  border: 1px solid #0969e2;
  float: right;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .loaderIndicator {
  padding: 30px;
  background-color: #fbfbfb;
  border-radius: 8px;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader .loaderIndicator h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #0969e2;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
